#gbox_grid table#grid {
	border-collapse: inherit;
}

.ui-jqgrid-htable, #grid {
	border: none !Important;
	margin: 0 !Important;
	font-size: 14px !Important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
	overflow-x: auto !Important;
	overflow-y: auto !Important;;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
	padding: 1%;
	font-weight: bold;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td {
	padding: 5px;
}

.ui-jqgrid {
	clear: both;
}

/* Para evitar el parpadeo al recargar */
.ui-jqgrid-bdiv {
	/*min-height: 500px !Important;*/
	
}

.ui-widget-content a, .ui-jqgrid-jquery-ui .glyphicon {
	color: #e21430 !important;
}

.pagination {
	padding: 5px 10px;
}

/** Para ocultar la primera fila que mete vacía **/
.ui-jqgrid tr.jqgfirstrow>td {
	padding: 0 !important;
}

.ui-jqgrid tr.jqgrow td, .ui-jqgrid-cell-wrapper {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.listado-grid {
	text-overflow: ellipsis;
	overflow: hidden;
}