/reportvalidation export-ignore
/wcagemtool export-ignore
/wcagemtool export-ignore
/crawler/profiles/docker export-ignore
/profiles/integracion export-ignore
/intavcore/profiles/docker export-ignore
/intavcore/profiles/integracion export-ignore
/portal/profiles/docker export-ignore
/portal/profiles/integracion export-ignore
.history export-ignore
