<div class="modal-content">
    <div class="modal-header">
        <b>Insert number of table rows and columns</b>
    </div>
    <form name="form" novalidate>
        <div class="modal-body">
            <div class="form-group" show-errors>
                <label for="numberOfRows">Number of Rows</label>
                <input type="number" class="form-control" ng-model="newtable.row" placeholder="Row count" name="row"
                    required="" id="numberOfRows" />

                <p class="help-block delete-red" ng-show="form.row.$error.number">Invalid number of rows</p>
            </div>
            <div class="form-group" show-errors>
                <label for="NumberOfColumns">Number of Columns</label>
                <input type="number" class="form-control" ng-model="newtable.col" placeholder="Column count" name="col"
                    required="" id="NumberOfColumns" />

                <p class="help-block delete-red" ng-show="form.col.$error.number">Invalid number of columns</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="BorderStyle">Border Style</label>
                <select class="form-control input-block-level" ng-model="newtable.style"
                    ng-options="tablestyle.value as tablestyle.name for tablestyle in tablestyles" id="BorderStyle">
                    <option value="">No border</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="tblInsert()"
                ng-disabled="form.$invalid">Insert</button>
            <button type="button" class="btn btn-default" ng-click="tblCancel()">Cancel</button>
        </div>
    </form>
</div>