/* line 4, ../../app/styles/evaluate.scss */
#final_report {
  border: solid 2px #337ab7;
  padding: 1em;
  border-radius: 10px;
}

/* line 12, ../../app/styles/evaluate.scss */
.app-loading main,
.app-loading main + nav,
.app-loading .wert-head .navbar-left,
.app-loading .wizard {
  opacity: 0;
  transition: 1s linear opacity;
}

/* line 23, ../../app/styles/evaluate.scss */
table input[type=text] {
  width: 100%;
}

/* line 29, ../../app/styles/evaluate.scss */
h3 + .collapsing {
  /* Minor fix to stop animation from jumping due to .collapsed */
  margin-top: -6.6666666667px;
}

/* line 35, ../../app/styles/evaluate.scss */
*[tabindex="-1"]:focus {
  outline: 0 none;
}

/* line 39, ../../app/styles/evaluate.scss */
.no-selection {
  text-align: center;
  font-style: italic;
}

/* line 44, ../../app/styles/evaluate.scss */
.key-value-group,
.no-selection {
  text-align: left;
  line-height: 1.8em;
  text-indent: 1em;
}

/* line 52, ../../app/styles/evaluate.scss */
.panel.panel-primary .panel-heading {
  color: white;
}

/* line 56, ../../app/styles/evaluate.scss */
.known-tech {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  min-height: auto;
  list-style: none;
}
/* line 63, ../../app/styles/evaluate.scss */
.known-tech label {
  display: inline-block;
  padding: 3px;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 69, ../../app/styles/evaluate.scss */
.known-tech label::after {
  margin-bottom: 0;
}

/* line 75, ../../app/styles/evaluate.scss */
.to-top {
  text-align: right;
  margin-top: -18px;
  margin-bottom: -10px;
}
/* line 80, ../../app/styles/evaluate.scss */
.to-top a {
  text-decoration: underline;
  padding: 0 5px;
}

/* line 86, ../../app/styles/evaluate.scss */
.download-link {
  min-width: 300px;
}

/* line 90, ../../app/styles/evaluate.scss */
.alert.alert-info.infobox {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 95, ../../app/styles/evaluate.scss */
.key-value-group {
  margin-bottom: 22px;
}

/* line 99, ../../app/styles/evaluate.scss */
.step-buttons {
  padding: 0.5em 0.5em 0;
  margin-top: 1.5em;
  border-top: solid 2px #ddd;
}

/* line 105, ../../app/styles/evaluate.scss */
.btn.btn-primary-invert {
  background: white;
  border-color: #2570b0;
  color: #2570b0;
}
/* line 110, ../../app/styles/evaluate.scss */
.btn.btn-primary-invert:focus, .btn.btn-primary-invert:hover {
  border-color: #1e5b8e;
  color: #1e5b8e;
}

/* line 117, ../../app/styles/evaluate.scss */
.test_count {
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
  font-style: normal;
}

/* line 124, ../../app/styles/evaluate.scss */
.confirm-transfer,
.confirm-remove {
  left: auto;
  display: block;
}

/* line 130, ../../app/styles/evaluate.scss */
.confirm-remove {
  top: -20px;
  right: 55px;
}

/* line 135, ../../app/styles/evaluate.scss */
.confirm-transfer {
  right: 85px;
  top: -30px;
}

/* line 140, ../../app/styles/evaluate.scss */
.sample {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 146, ../../app/styles/evaluate.scss */
.sample .page-tested {
  text-decoration: line-through;
  color: #666;
  font-style: italic;
}
/* line 152, ../../app/styles/evaluate.scss */
.sample li {
  padding: 0;
  border-bottom: 1px #e7e7e7 solid;
  background: #fff;
  transition: 100ms linear background;
  position: relative;
}
/* line 162, ../../app/styles/evaluate.scss */
.sample li a {
  position: absolute;
  top: 8px;
  right: 6px;
}
/* line 168, ../../app/styles/evaluate.scss */
.sample li label {
  display: block;
  margin-right: 20px;
  padding: 5px 10px 5px 20px;
  margin-bottom: 0;
  text-indent: -10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 182, ../../app/styles/evaluate.scss */
.sample li input,
.sample li label {
  cursor: pointer;
}
/* line 187, ../../app/styles/evaluate.scss */
.sample li .tested {
  text-decoration: line-through;
  border-bottom: 1px;
}
/* line 193, ../../app/styles/evaluate.scss */
.sample li.active {
  background: #e8e8e8;
  border-bottom-color: #ddd;
}

/* line 200, ../../app/styles/evaluate.scss */
.criterion-btn-group {
  border-bottom: solid 1px #e7e7e7;
  background: #f8f8f8;
  width: 100%;
}

/* line 206, ../../app/styles/evaluate.scss */
h3 .collapse-button {
  color: #23527c;
}

/* line 210, ../../app/styles/evaluate.scss */
.collapse-button {
  display: block;
  border-bottom: solid 1px #e7e7e7;
}
/* line 214, ../../app/styles/evaluate.scss */
.collapse-button .glyphicon {
  font-size: 14px;
}
/* line 218, ../../app/styles/evaluate.scss */
.collapse-button:hover, .collapse-button:focus {
  border-bottom-color: #c1c1c1;
}

/* line 224, ../../app/styles/evaluate.scss */
.save-panel {
  text-align: center;
  max-width: 500px;
}

/* line 229, ../../app/styles/evaluate.scss */
.form-group-inline {
  position: relative;
}
/* line 232, ../../app/styles/evaluate.scss */
.form-group-inline legend {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}
/* line 238, ../../app/styles/evaluate.scss */
.form-group-inline .form-block {
  padding: 5px 0 5px 15px;
}
@media (max-width: 767px) {
  /* line 229, ../../app/styles/evaluate.scss */
  .form-group-inline {
    margin-top: 10px;
  }
  /* line 245, ../../app/styles/evaluate.scss */
  .form-group-inline .remove-button {
    position: absolute;
    top: 0;
    right: 15px;
    margin-top: -10px;
  }
  /* line 252, ../../app/styles/evaluate.scss */
  .form-group-inline .right-col {
    padding-right: 15px;
  }
}
/* line 257, ../../app/styles/evaluate.scss */
.form-group-inline label {
  font-weight: normal;
}
/* line 261, ../../app/styles/evaluate.scss */
.form-group-inline .form-control {
  padding: 3px 6px;
  height: auto;
}

/* line 267, ../../app/styles/evaluate.scss */
.form-block-head {
  padding: 2px 0 0;
  font-weight: bold;
}

/* line 272, ../../app/styles/evaluate.scss */
textarea {
  min-height: 125px;
}

/* line 276, ../../app/styles/evaluate.scss */
textarea#summary {
  min-height: 225px;
}

/* line 280, ../../app/styles/evaluate.scss */
select.result-select,
textarea.assert_description {
  width: 100%;
  transition: 200ms linear max-height;
}

/* line 287, ../../app/styles/evaluate.scss */
select.result-select,
input.taginput,
textarea.assert_description {
  height: 1.7em;
  min-height: 1.7em;
  max-height: 40em;
  padding: 0.1em 0.5em;
  border: solid 1px gray;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 300, ../../app/styles/evaluate.scss */
.stretch-control {
  width: 100%;
}

/* line 304, ../../app/styles/evaluate.scss */
a.info-icon {
  font-size: 14px;
}
/* line 307, ../../app/styles/evaluate.scss */
a.info-icon span.glyphicon.glyphicon-info-sign {
  top: 2px;
}
@media (min-width: 768px) {
  /* line 313, ../../app/styles/evaluate.scss */
  a.info-icon.info-float {
    position: absolute;
    right: -2px;
    top: 6px;
  }
}

/* line 321, ../../app/styles/evaluate.scss */
.sc-filters {
  border: solid 1px #ddd;
  padding: 5px 2px;
  border-radius: 3px;
}
/* line 326, ../../app/styles/evaluate.scss */
.sc-filters > legend {
  margin: 0;
  border: 0;
  width: auto;
}
/* line 332, ../../app/styles/evaluate.scss */
.sc-filters > fieldset + fieldset {
  margin-top: 0.25em;
}
/* line 336, ../../app/styles/evaluate.scss */
.sc-filters label.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: 200ms linear color, 200ms linear background-color;
}
/* line 347, ../../app/styles/evaluate.scss */
.sc-filters input {
  margin: 0;
  width: 1em;
  height: 1em;
}
/* line 352, ../../app/styles/evaluate.scss */
.sc-filters input + span {
  margin-left: 0.25em;
  line-height: 1;
}

/* line 359, ../../app/styles/evaluate.scss */
.sample-tools {
  margin-left: 5px;
  margin-bottom: 2px;
}
/* line 363, ../../app/styles/evaluate.scss */
.sample-tools input[type=checkbox] {
  margin-top: 9px;
  margin-right: 4px;
}

/* line 369, ../../app/styles/evaluate.scss */
#file_label::after {
  content: "";
}
