/* line 13, ../../app/styles/wizard.scss */
.wizard {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
}
/* line 18, ../../app/styles/wizard.scss */
.wizard .wizard-step {
  padding: 8px 6px 8px 5px;
  padding-left: 23px;
  margin: 2.5px 0 2.5px 5px;
  background: #dfdfdf;
  position: relative;
  display: inline-block;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 28, ../../app/styles/wizard.scss */
.wizard .wizard-step a {
  margin: -8px -5px;
  padding: 8px 5px;
  display: block;
  color: #23527c;
}
/* line 35, ../../app/styles/wizard.scss */
.wizard .wizard-step a:hover {
  color: black;
}
/* line 39, ../../app/styles/wizard.scss */
.wizard .wizard-step::before, .wizard .wizard-step::after {
  width: 0;
  height: 0;
  top: 0;
  position: absolute;
  content: "";
  border-top: 18px inset transparent;
  border-bottom: 18px inset transparent;
}
/* line 50, ../../app/styles/wizard.scss */
.wizard .wizard-step::before {
  border-left: 18px solid #fff;
  left: 0;
}
/* line 55, ../../app/styles/wizard.scss */
.wizard .wizard-step::after {
  border-left: 18px solid #dfdfdf;
  right: -17px;
  z-index: 2;
}
/* line 61, ../../app/styles/wizard.scss */
.wizard .wizard-step:first-child::before, .wizard .wizard-step:last-child::after {
  border: none;
}
/* line 66, ../../app/styles/wizard.scss */
.wizard .wizard-step:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 12px;
  margin-left: -1em;
}
/* line 73, ../../app/styles/wizard.scss */
.wizard .wizard-step:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 12px;
}
/* line 79, ../../app/styles/wizard.scss */
.wizard .wizard-step.active {
  background: #337ab7;
  color: #fff;
}
/* line 83, ../../app/styles/wizard.scss */
.wizard .wizard-step.active a {
  color: #fff;
  text-decoration: none;
}
/* line 88, ../../app/styles/wizard.scss */
.wizard .wizard-step.active::after {
  border-left-color: #337ab7;
}
/* line 93, ../../app/styles/wizard.scss */
.wizard .wizard-step.disabled a {
  font-style: italic;
  color: #777777;
}
/* line 97, ../../app/styles/wizard.scss */
.wizard .wizard-step.disabled a:hover {
  text-decoration: none;
}
/* line 103, ../../app/styles/wizard.scss */
.wizard .badge {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
/* line 109, ../../app/styles/wizard.scss */
.wizard .wizard-step:first-child .badge {
  margin-left: 0;
}
